body  {
    font-family:Arial;    
    background-color:#000000;
}
#contenedor {
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid red;
    background-color:#ffffff;
}

#cabezal {
    text-align: center;
    /*background-repeat:no-repeat;*/
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/95_-_Machu_Picchu_-_Juin_2009.jpg/800px-95_-_Machu_Picchu_-_Juin_2009.jpg);
}
nav a {
    padding: 15px;
    text-decoration: none;
}
#izquierda_footer{
    float:left;
    width:33%;

}
#derecha_footer {
    float: right;
    width: 33%;
}
#centro_footer {
    margin-left:33%;
    margin-right:33%;
}
<!--Pag_ Anidada-->

#ubic_publicidad {
    width: 20%;
    float: right;
    margin-left:80%;
}


/*===============Contactanos=========*/
#contacto_left {
    float:left;
    border:1px solid red;
}
#contacto_right {
    margin-left:70%;
}

